{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2>Hasil dan Rekomendasi</h2>
            <!-- <a class = "mr-2" href="#"> {# post.testresultuser.nama #}</a> -->
            <!-- <small class = "text-muted">{# post.riwayat_jalan #}</small> -->
            <!-- <small class = "text-muted">{# post.riwayat_kontak #}</small> -->
            <!-- <small class = "text-muted">{# post.riwayat_kontak_pdp #}</small> -->
            <!-- <small class = "text-muted">{# post.gejala_batuk #}</small> -->
        </div>
        <br>
        <h3>Isolasi Mandiri</h3><br>
        <p align="justify">Berdasarkan hasil kuesioner, tidak ditemukan gejala COVID19. Akan tetapi, Anda perlu
            melakukan karantina diri selama 14 hari terhitung setelah kontak/perjalanan. Lakukan pemantauan selama
            karantina.
            <br><br>Apabila selama 14 hari karantina Anda mengalami gejala seperti demam, pilek, batuk, atau sesak napas, segera
            periksakan diri Anda ke RS rujukan COVID19 terdekat.
            <br><br>Apabila selama 14 hari karantina Anda tidak mengalami gejala tersebut, Anda tidak perlu memeriksakan diri ke
            RS. Selalu jaga kesehatan dan kondisi tubuh.
        </p>

        <!-- <br>
        <h3>KERT (Kontak Erat Risiko Tinggi)</h3>
        <br>
        <p align="justify">Berdasarkan hasil kuesioner, Anda termasuk dalam kategori Kontak Erat Risiko Tinggi (KERT).
            KERT adalah seseorang yang melakukan kontak fisik atau berada dalam ruangan atau berkunjung (dalam radius 1
            meter dengan kasus <b>probabel atau konfirmasi</b>) dalam 2 hari sebelum kasus timbul gejala dan hingga 14
            hari setelah kasus timbul gejala. Anda perlu melakukan observasi/karantina mandiri di rumah selama 14 hari.
            <br><br>Anda <b>perlu</b> melakukan pengambilan spesimen pada hari ke-1 dan ke-14 setelah kontak. Bila hasil
            pemeriksaan laboratorium positif, maka Anda perlu dirujuk ke RS rujukan COVID19.
            <br><br>Apabila selama 14 hari karantina Anda mengalami gejala seperti demam, pilek, batuk, atau sesak
            napas, segera periksakan diri Anda ke RS rujukan COVID19 terdekat.
            <br><br>Apabila selama 14 hari karantina Anda tidak mengalami gejala tersebut, Anda tidak perlu memeriksakan
            diri ke RS. Selalu jaga kesehatan dan kondisi tubuh.

        </p> -->
    </div>
</article>

{% endblock %}