{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
        <form method = "POST" action = "" enctype="multipart/form-data">
            {{ form.hidden_tag()}}
            <fieldset class = "form-group">

                <legend class = "border-bottom mb-4">Form Pendaftaran</legend>
                <div class = "form-group">
                    {{ form.nama.label(class="form-control-label")}}
                    {% if form.nama.errors %}
                        {{ form.nama(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.nama.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.nama(class="form-control form-control-lg")}}
                    {% endif %} 
                </div>




                <div class = "form-group">
                    {{ form.ktp.label(class="form-control-label")}}
                    {% if form.ktp.errors %}
                    {{ form.ktp(class="form-control form-control-lg is-invalid")}}  
                    <div class = "invalid-feedback">
                        {% for error in form.ktp.errors %}
                                <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                         {{ form.ktp(class="form-control form-control-lg")}}   
                    {% endif %} 
                </div>

        

                <div class = "form-group">
                    {{ form.umur.label(class="form-control-label")}}
                    {% if form.umur.errors %}
                        {{ form.umur(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.umur.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.umur(class="form-control form-control-lg")}}
                    {% endif %}
                </div>



            <form name="myForm" action="" method="post">
                <div class = "form-group">
                <label> Jenis Kelamin </label>
                    <br>
                    <input type="radio" id="jeniskelamin1" name="jeniskelamin" value="pria" required>
                    <label for="jeniskelamin1">Pria</label>
                    <br>
                    <input type="radio" id="jeniskelamin2" name="jeniskelamin" value="wanita" required>
                    <label for="jeniskelamin2">Wanita</label>
        
                </div>
            </form>


                <div class = "form-group">
                    {{ form.alamat.label(class="form-control-label")}}
                    {{ form.alamat(class="form-control form-control-lg")}}   
                </div>





                <div class = "form-group">
                    {{ form.email.label(class="form-control-label")}}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>






                <div class = "form-group">
                    {{ form.nomor_hp.label(class="form-control-label")}}
                    {% if form.nomor_hp.errors %}
                        {{ form.nomor_hp(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.nomor_hp.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.nomor_hp(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                

                
                <div class = "form-group">
                    {{ form.password.label(class="form-control-label")}}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class = "form-group">
                    {{ form.confirmpassword.label(class="form-control-label")}}
                    {% if form.confirmpassword.errors %}
                    {{ form.confirmpassword(class="form-control form-control-lg is-invalid")}}   
                    <div class = "invalid-feedback">
                        {% for error in form.confirmpassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                     {{ form.confirmpassword(class="form-control form-control-lg")}}
                {% endif %}
                </div>



                <form name="code" action="" method="post">
                    <div class = "form-group">
                    <label align ="justify" class = "tab"> Dengan ini saya menyatakan bahwa data yang diisi adalah benar dan dapat dipertanggungjawabkan sesuai dengan yang saya miliki atau alami. Saya juga menyatakan bahwa saya belum pernah mendapatkan tes untuk COVID-19 sebelumnya. </label>
                        <br>
                        <input type="checkbox" id="contactChoice1" required name="codeofconduct" value="yes" required>
                        <label for="contactChoice1">Saya setuju</label>
            
                    </div>
                </form>
    






                 <div class = "form-group">
                {{form.submit(class = "btn btn-outline-info")}}
            </div>
          </fieldset>    

        </form>
        <div class = "border-bottom mb-4 pt-10">
            <small class = "text-muted">
               Sudah mendaftarkan akun ? <a class = "ml-2" href="{{ url_for('login')}}">Masuk dengan akun yang sudah didaftarkan </a>
            </small>

        </div>
    </div>
    
{% endblock %}


