{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
        <form method = "POST" action = "">
            {{ form.hidden_tag()}}
            <fieldset class = "form-group">

                <legend class = "border-bottom mb-4">Form Pendaftaran</legend>
                <div class = "form-group">
                    {{ form.nama.label(class="form-control-label")}}
                    {% if form.nama.errors %}
                        {{ form.nama(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.nama.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.nama(class="form-control form-control-lg")}}
                    {% endif %} 
                </div>

                <div class = "form-group">
                    {{ form.ktp.label(class="form-control-label")}}
                    {% if form.ktp.errors %}
                    {{ form.ktp(class="form-control form-control-lg is-invalid")}}  
                    <div class = "invalid-feedback">
                        {% for error in form.ktp.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                         {{ form.ktp(class="form-control form-control-lg")}}   
                    {% endif %} 
                </div>

                <div class = "form-group">
                    {{ form.umur.label(class="form-control-label")}}
                    {% if form.umur.errors %}
                        {{ form.umur(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.umur.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.umur(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class = "form-group">
                    {{ form.jenis_kelamin.label(class="form-control-label")}}
                    {% if form.jenis_kelamin.errors %}
                    {{ form.jenis_kelamin(class="form-control form-control-lg is-invalid")}}  
                    <div class = "invalid-feedback">
                        {% for error in form.jenis_kelamin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                         {{ form.jenis_kelamin(class="form-control form-control-lg")}}   
                    {% endif %}   
                </div>

                <div class = "form-group">
                    {{ form.alamat.label(class="form-control-label")}}
                    {{ form.alamat(class="form-control form-control-lg")}}   
                </div>

                <div class = "form-group">
                    {{ form.email.label(class="form-control-label")}}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class = "form-group">
                    {{ form.nomor_hp.label(class="form-control-label")}}
                    {% if form.nomor_hp.errors %}
                        {{ form.nomor_hp(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.nomor_hp.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.nomor_hp(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                
                <div class = "form-group">
                    {{ form.password.label(class="form-control-label")}}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid")}}   
                        <div class = "invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class = "form-group">
                    {{ form.confirmpassword.label(class="form-control-label")}}
                    {% if form.confirmpassword.errors %}
                    {{ form.confirmpassword(class="form-control form-control-lg is-invalid")}}   
                    <div class = "invalid-feedback">
                        {% for error in form.confirmpassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                     {{ form.confirmpassword(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                 <div class = "form-group">
                {{form.submit(class = "btn btn-outline-info")}}
            </div>


          </fieldset>    
        </form>
        <div class = "border-bottom mb-4 pt-10">
            <small class = "text-muted">
               Sudah mendaftarkan akun ? <a class = "ml-2" href="{{ url_for('login')}}">Masuk dengan akun yang sudah didaftarkan </a>
            </small>

        </div>
    </div>
    
{% endblock %}


