{% extends "layout.html" %}
{% block content %}
<div class = "content-section">
    <form method = "POST" action = "">
        {{ form.hidden_tag()}}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Riwayat bepergian</legend>
           

            <form name="pasienform" action="" method="post">
                <div class = "form-group">
                    <label> Dalam 14-30 hari terakhir, apakah anda bepergian ke kota/negara terjangkit COVID19? </label>
                    <br>
                    <input type="radio" id="form_jalan1" name="form_jalan" value="y" required>
                    <label for="form_jalan1">Ya</label>
                    <br>
                    <input type="radio" id="form_jalan2" name="form_jalan" value="n" required>
                    <label for="form_jalan2">Tidak</label>
        
           

                    <br>
                    <label> Dalam 14-30 hari terakhir, apakah anda melakukan kontak dengan Pasien Probabel/Konfirmasi? </label>
                    <br>
                    <input type="radio" id="form_kontak1" name="form_kontak" value="y" required>
                    <label for="form_kontak1">Ya</label>
                    <br>
                    <input type="radio" id="form_kontak2" name="form_kontak" value="n" required>
                    <label for="form_kontak2">Tidak</label>
        
                


            
                    <label> Dalam 14-30 hari terakhir, apakah anda melakukan kontak dengan Pasien Dalam Pengawasan (Y/N)? </label>
                    <br>
                    <input type="radio" id="form_kontak_pdp1" name="form_kontak_pdp" value="y" required>
                    <label for="form_kontak_pdp1">Ya</label>
                    <br>
                    <input type="radio" id="form_kontak_pdp2" name="form_kontak_pdp" value="n" required>
                    <label for="form_kontak_pdp2">Tidak</label>
        
                </div>
            </form>

            <div class = "form-group">
                {{form.submit_test(class = "btn btn-outline-info")}}
            </div>
            
        </fieldset>

        
    </form>
   
</div>
    
{% endblock %}


