{% extends "layout.html" %}
{% block content %}
<div class = "content-section">
    <form method = "POST" action = "">
        {{ form.hidden_tag()}}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Riwayat bepergian</legend>
           

            <form name="pasienform" action="" method="post">
                <div class = "form-group">
                    <label> Apakah anda mengalami demam? </label>
                    <br>
                    <input type="radio" id="demam1" name="demam" value="y">
                    <label for="demam1">Ya</label>
                    <br>
                    <input type="radio" id="demam2" name="demam" value="n">
                    <label for="demam2">Tidak</label>
        
                    <br>
                    <label> Apakah anda mengalami batuk? </label>
                    <br>
                    <input type="radio" id="batuk1" name="batuk" value="y">
                    <label for="batuk1">Ya</label>
                    <br>
                    <input type="radio" id="batuk2" name="batuk" value="n">
                    <label for="batuk2">Tidak</label>
                    
                    <br>
                    <label> Apakah anda mengalami pilek? </label>
                    <br>
                    <input type="radio" id="pilek1" name="pilek" value="y">
                    <label for="pilek1">Ya</label>
                    <br>
                    <input type="radio" id="pilek2" name="pilek" value="n">
                    <label for="pilek2">Tidak</label>

                    <br>
                    <label> Apakah mengalami nyeri tenggorokan? </label>
                    <br>
                    <input type="radio" id="nyeri_tenggorokan1" name="nyeri_tenggorokan" value="y">
                    <label for="nyeri_tenggorokan1">Ya</label>
                    <br>
                    <input type="radio" id="nyeri_tenggorokan2" name="nyeri_tenggorokan" value="n">
                    <label for="nyeri_tenggorokan2">Tidak</label>

                    <br>
                    <label> Apakah mengalami sesak nafas? </label>
                    <br>
                    <input type="radio" id="sesak_nafas1" name="sesak_nafas" value="y">
                    <label for="sesak_nafas1">Ya</label>
                    <br>
                    <input type="radio" id="sesak_nafas2" name="sesak_nafas" value="n">
                    <label for="sesak_nafas2">Tidak</label>
        
                </div>
            </form>

            <div class = "form-group">
                {{form.submit_gejala(class = "btn btn-outline-info")}}
            </div>
            
        </fieldset>

        
    </form>
   
</div>
    
{% endblock %}


