{% extends "layout.html" %}
{% block content %}
<div class = "content-section">
    <form method = "POST" action = "">
        {{ form.hidden_tag()}}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Riwayat bepergian</legend>
           

            <form name="pasienform" action="" method="post">
                <div class = "form-group">
                    <label> Apakah anda mengalami demam? </label>
                    <br>
                    <input type="radio" id="demam1" name="demam" value="y" required>
                    <label for="demam1">Ya</label>
                    <br>
                    <input type="radio" id="demam2" name="demam" value="n" required>
                    <label for="demam2">Tidak</label>


                    <!--<div class = "form-group">
                        <label> Apakah anda minum vitamin C/E setiap hari? </label>
                        <br>
                        <input type="radio" id="vitamin1" name="vitamin" value="y">
                        <label for="vitamin1">Ya</label>
                        <br>
                        <input type="radio" id="vitamin2" name="vitamin" value="n">
                        <label for="vitamin2">Tidak</label>-->




        
                    <br>
                    <label> Apakah anda mengalami batuk (meskipun ringan)? </label>
                    <br>
                    <input type="radio" id="batuk1" name="batuk" value="y" required>
                    <label for="batuk1">Ya</label>
                    <br>
                    <input type="radio" id="batuk2" name="batuk" value="n" required>
                    <label for="batuk2">Tidak</label>
                    
                    <br>
                    <label> Apakah anda mengalami pilek (meskipun ringan)? </label>
                    <br>
                    <input type="radio" id="pilek1" name="pilek" value="y" required>
                    <label for="pilek1">Ya</label>
                    <br>
                    <input type="radio" id="pilek2" name="pilek" value="n" required>
                    <label for="pilek2">Tidak</label>

                    <!--<br>
                    <label> Apakah anda tidur rata-rata 8 jam sehari? </label>
                    <br>
                    <input type="radio" id="tidur1" name="tidur" value="y" required>
                    <label for="pilek1">Ya</label>
                    <br>
                    <input type="radio" id="tidur2" name="tidur" value="n" required>
                    <label for="pilek2">Tidak</label>-->

                    <br>
                    <label> Apakah anda mengalami nyeri tenggorokan? </label>
                    <br>
                    <input type="radio" id="nyeri_tenggorokan1" name="nyeri_tenggorokan" value="y" required>
                    <label for="nyeri_tenggorokan1">Ya</label>
                    <br>
                    <input type="radio" id="nyeri_tenggorokan2" name="nyeri_tenggorokan" value="n" required>
                    <label for="nyeri_tenggorokan2">Tidak</label>-->

                    <!--<br>
                    <label> Apakah menggigil/meriang? </label>
                    <br>
                    <input type="radio" id="menggigil1" name="menggigil" value="y" required>
                    <label for="menggigil1">Ya</label>
                    <br>
                    <input type="radio" id="menggigil2" name="menggigil" value="n" required>
                    <label for="menggigil2">Tidak</label>-->

                    <!--<br>
                    <label> Apakah anda sakit kepala? </label>
                    <br>
                    <input type="radio" id="sakitkepala1" name="sakitkepala" value="y" required>
                    <label for="sakitkepala1">Ya</label>
                    <br>
                    <input type="radio" id="sakitkepala2" name="sakitkepala" value="n" required>
                    <label for="sakitkepala2">Tidak</label>-->
                    
                    <!--<br>
                    <label> Apakah anda mengalami kelelahan? </label>
                    <br>
                    <input type="radio" id="kelelahan1" name="kelelahan" value="y" required>
                    <label for="kelelahan1">Ya</label>
                    <br>
                    <input type="radio" id="kelelahan2" name="kelelahan" value="n" required>
                    <label for="kelelahan2">Tidak</label>-->

                    <!--<br>
                    <label> Apakah anda mengalami nyeri otot? </label>
                    <br>
                    <input type="radio" id="nyeri_otot1" name="nyeri_otot" value="y" required>
                    <label for="nyeri_otot1">Ya</label>
                    <br>
                    <input type="radio" id="nyeri_otot2" name="nyeri_otot" value="n" required>
                    <label for="nyeri_otot2">Tidak</label>-->

                    <!--<br>
                    <label> Apakah anda mengalami mual? </label>
                    <br>
                    <input type="radio" id="mual1" name="mual" value="y" required>
                    <label for="mual1">Ya</label>
                    <br>
                    <input type="radio" id="mual2" name="mual" value="n" required>
                    <label for="mual2">Tidak</label>-->

                    <!--<br>
                    <label> Apakah anda mengalami nyeri perut? </label>
                    <br>
                    <input type="radio" id="nyeri_perut1" name="nyeri_perut" value="y" required>
                    <label for="nyeri_perut1">Ya</label>
                    <br>
                    <input type="radio" id="nyeri_perut2" name="nyeri_perut" value="n" required>
                    <label for="nyeri_perut2">Tidak</label>-->

                    <!--<br>
                    <label> Apakah anda mengalami diare? </label>
                    <br>
                    <input type="radio" id="diare1" name="diare" value="y" required>
                    <label for="diare1">Ya</label>
                    <br>
                    <input type="radio" id="diare2" name="diare" value="n" required>
                    <label for="diare2">Tidak</label> -->

                    <br>
                    <label> Apakah mengalami sesak nafas? </label>
                    <br>
                    <input type="radio" id="sesak_nafas1" name="sesak_nafas" value="y" required>
                    <label for="sesak_nafas1">Ya</label>
                    <br>
                    <input type="radio" id="sesak_nafas2" name="sesak_nafas" value="n" required>
                    <label for="sesak_nafas2">Tidak</label>
        
                </div>
            </form>

            <div class = "form-group">
                {{form.submit_gejala(class = "btn btn-outline-info")}}
            </div>
            
        </fieldset>

        
    </form>
   
</div>
    
{% endblock %}


