{% extends "layout.html" %}
{% block content %}
<div class = "content-section">
    <form method = "POST" action = "">
        {{ form.hidden_tag()}}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Riwayat bepergian</legend>
            <div class = "form-group">
            <p> Dalam 14-30 hari terakhir, apakah anda bepergian ke kota/negara terjangkit COVID19 ?' </p>
                <div class="custom-control custom-radio mb-10">
                    <input type="radio" id="customRadio1" name="Pertanyaan1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Ya</label>
                </div>
                <div class="custom-control custom-radio mb-4">
                    <input type="radio" id="customRadio2" name="Pertanyaan1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Tidak</label>
                </div>
            </div>

            <div class = "form-group">
            <p> Dalam 14-30 hari terakhir, apakah anda melakukan kontak dengan Pasien Probabel/Konfirmasi ?' </p>
                <div class="custom-control custom-radio mb-10">
                    <input type="radio" id="customRadio3" name="Pertanyaan2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">Ya</label>
                </div>
                <div class="custom-control custom-radio mb-4">
                    <input type="radio" id="customRadio4" name="Pertanyaan2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio4">Tidak</label>
                </div>
            </div>

            <div class = "form-group">
            <p> Dalam 14-30 hari terakhir, apakah anda melakukan kontak dengan Pasien Dalam Pengawasan ?' </p>
                <div class="custom-control custom-radio mb-10">
                    <input type="radio" id="customRadio5" name="Pertanyaan3" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio5">Ya</label>
                </div>
                <div class="custom-control custom-radio mb-4">
                    <input type="radio" id="customRadio6" name="Pertanyaan3" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio6">Tidak</label>
                </div>
            </div>

            <div class = "form-group">
            <p> Apakah mengalami demam, batuk ? </p>
                <div class="custom-control custom-radio mb-10">
                    <input type="radio" id="customRadio7" name="Pertanyaan4" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio7">Ya</label>
                </div>
                <div class="custom-control custom-radio mb-4">
                    <input type="radio" id="customRadio8" name="Pertanyaan4" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio8">Tidak</label>
                </div>
            </div>
         <fieldset>
            <div class = "form-group">
                {{form.submit(class = "btn btn-outline-info")}}
            </div>

    <form>
<div>

{% endblock %}


